body {
  color: #000000;
}
a:not([class]) {
  color: inherit;
}

.b_headerInner {
  display: flex;
  justify-content: space-between;
    align-items: center;  
}
.b_text_wrapper {
  font-size: 25px;
}
.b_headerInner a {
  text-decoration: none;
}
.b_right_surname a {
  font-size: 20px;
}
main {
  padding: 4rem 0;
}
section.l_section {
  padding: 2rem 1rem;
  box-shadow: 7px 7px 17px 2px #108EFE;
}
section:not([class]) {
  padding: 3rem 1rem;
}
.b_section_header {
    position: relative;
    padding-bottom: .4rem;
    font-size: 35px;
    font-weight: 900;
}
.b_section_header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #108EFE;
  bottom: 0;
  left: 0;
}
.b_publicSection_item {
  width: 90%;
  display: flex;
  margin-top: 1rem;
}
.b_publicSection_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 4rem;
}
.b_publicItem_description {
  font-size: 30px;
}
.b_publicItem_title {
  font-size: 35px;
}
.b_publicItem_text {
  margin-left: 1rem;
}
.b_btn_wrapper {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  justify-content: center;
  margin: 3rem 0 1rem 0;
}
.b_btn_main {
  display: block;
  width: 75%;
  padding: 1rem 2rem;
  text-align: center;
  background-color: #01379D;
  text-decoration: none;
  font-size: 45px;
  font-weight: 800;
  color: #ffffff;
}
.b_h1,.b_h2,.b_h3,.b_h4 {
  font-family: inherit;
}
.b_h1 {
  font-size: 55px;
  font-weight: 800;
}

input, .b_input, textarea, select, .b_select {
  border: 6px solid #108EFE;
  outline: none;
  padding: 2rem 2rem;
  width: 100%;
  margin-top: 1rem;
  font-size: 30px;
}
input:first-of-type, textarea:first-of-type,select:first-of-type {
  margin-top: 2rem;
}
input:last-of-type, textarea:last-of-type,select:last-of-type {
  margin-bottom: 2rem;
}
input::placeholder, textarea::placeholder {
  font-size: 30px;
  font-weight: 400;
}
@media screen and (min-width: 992px) {
  .w-lg-50 {
    width: 50%!important;
  }
}
form {
  margin: 2rem 0;
}
.b_courses {
  display: flex;
  flex-direction: column;

}
.b_studCourse_item, .b_tutorCourse_item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem ;
  border: 3px solid #108EFE;
  margin-top: 1.5rem;
}
.b_course_name {
  width: 75%;
}
.b_cousre_progress {
  width: 15%;
}
.b_course_name a {
  font-size: 35px;
  text-decoration: none;
}
.b_cousre_progress {
  font-size: 35px;
  display: flex;
  justify-content: flex-end;
}
.b_courseInfo_title {
  padding: 1rem;
  box-shadow: 7px 7px 17px 2px #108EFE;
  position: relative;
  font-size: 20px;
  font-weight: 700;
}
.b_courseInfo_title::before {
  content: '';
  position: absolute;
  width: 1rem;
  background: #108EFE;
  height: 100%;
  top: 0;
  left: -1rem;
}
.b_course_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 4rem;

}
.b_course_item {
  width: 85%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.b_course_item_text {
  margin-left: 2rem;
  font-size: 20px;
  font-weight: 400;
}
.b_courseInfo_section {
  margin: 3rem 0 0 0;
}
.b_order_item:last-of-type,.b_order_item:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 7px 7px 17px 2px #108EFE;
  position: relative;
  font-size: 20px;
  font-weight: 700;
}
.b_order_item:last-of-type {
  margin-bottom: 2rem;
}
.b_order_item {
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem;
box-shadow: 7px 7px 17px 2px #108EFE;
position: relative;
font-size: 20px;
font-weight: 700;
margin-bottom: .5rem;

}
.l_section:not(:first-of-type) {
  margin-top: 2rem;
}
@media screen and (max-width: 1150px) {
  .b_text_wrapper {
    font-size: 20px;
  }
  .b_logo_wrapper img {
    width: 100px;
  }
  .b_btn_main {
    font-size: 20px;
    padding: .5rem 1rem;
  }
  input, .b_input, textarea, select, .b_select {
    border: 6px solid #108EFE;
    outline: none;
    padding: 0.5rem 1rem;
    width: 100%;
    margin-top: 1rem;
    font-size: 18px;
  }
  input::placeholder {
    font-size: 18px;
  }
  .b_course_name a {
    font-size: 18px;
  }
  .b_cousre_progress {
    font-size: 18px;  
  }
  .b_courseInfo_section {
    margin-top: 1rem;
  }
  .b_course_wrapper {
    margin-top: 1rem;
  }
  .b_course_item {
    width: 100%;
  }
  .b_course_item_text {
    margin-left: .5rem;
  }
}
@media screen and (max-width: 650px) {
  .b_btn_main {
    font-size: 15px;
    padding: .5rem 1rem;
    width: 100%;
  }
  .b_order_item {
    font-size: 15px;
  }
  .b_order_item:last-of-type, .b_order_item:first-of-type{
    font-size: 15px;
  }
  .page {
    padding:0;
  }
  .b_btn_wrapper {
    margin-top: 1rem;
  }
  .b_publicItem_img img {
    width: 30px;
  }
  .b_publicItem_title {
    font-size: 20px;
  }
  .b_publicItem_description {
    font-size: 16px;
  }
  .b_publicSection_item {
    width: 100%;
  }
  .b_section_header {
    font-size: 25px;
  }
  .b_publicSection_wrapper {
    margin-top: 1rem;
  }
  .b_h1 {
    font-size: 30px;
  }
  form {
    margin: 0;
  }
  
}